.btn {
    width: 260px;
    height: 15px;
    background: $background-gradient;
    color: #FFFFFF;
    border-radius: 25px;
    padding : 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 30px;
    &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: $background-gradient2;
    }
}

.btn_fonctionnement {
    @include flexrow;
    justify-content:flex-start;
    background: $color-background;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 280px;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        &:hover{
        background-color: #f5edff;
    }
}
.fonctionnement_chiffre {
    background: #9356DC;
    color: $color-text3;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    padding: 4px;
    margin-right: 15px;
    @include flexcolumn;
    position: relative;
    right: 15px;
}
.fonctionnement_icone {
    color: $color-text2;
    padding-right: 20px;
    &:hover {
        color: $color-primary;
    }
}
