html {
    font-family: 'Roboto';
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: $color-text1;
}
.liens-footer {
    text-decoration: none;
    color: $color-text3;
    &:hover {
        text-decoration: underline;
    }
}

.paragraphe1 {
    color: $color-text1;
    font-weight: bold;
    line-height: 14pt;
}
.paragraphe2 {
    color: $color-text2;
    font-size: 14px;
    line-height: 16px;
}
.policelogo {
    font-family: 'Shrikhand';
    font-size:36px;
    &_titres {
    font-family: 'Shrikhand';
    font-size:24px; 
    }
    &_footer {
        font-family: 'Shrikhand';
        font-size:20px;
    }
}