.position-icones {
    position: relative;
}
.iconehover1 {
    position: absolute;
    right: 0; bottom: 0;
    z-index: 1;
    display: inline;
    background: white;
    &:hover {
        opacity:0;
    }
}
.iconehover2 {
    position: absolute;
    right: 0; bottom: -6px;
    z-index: 0;
    color: transparent;
    background-clip: text;
    background-image: $gradient;
    line-height: 200%;
    outline: none;
    &:hover {
        display: inline;
    }
}
.iconehover2 {
    animation: pulseHeart 1.5s ease-in-out infinite alternate;
}
    @keyframes pulseHeart {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.6);
        }
        100% {
            transform: scale(1);
        }
    }

.btn_menu:hover .btn_menu_hover {
    width: 20%;
    transform: scaleX(0);
    animation-name: buttonGrow;
    animation-duration: 600ms;
    transform-origin: right;
    animation-fill-mode: forwards;
}
    @keyframes buttonGrow {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }
.btn_menu:hover .btn_menu_tarif {
    text-align: center;
    width: 20%;
}
.btn_menu:hover .btn_menu_intitule {
    margin-right: 0px; 
}
.btn_menu:hover .btn_menu_hover {
    display: inline;
    @include flexrow;
}
.btn_menu:hover .btn_validation {
    animation : rotation 600ms ease-out forwards;
    @keyframes rotation{
        0% {transform: rotate(-1turn)
        }
        100% {transform: rotate(0deg)
        }
    }
}
.btn_menu {
    width: 94%;
    &:hover {cursor: pointer;}
}
.btn_menu_tarif {
    width: 40%;
    @include flexrow;
}
.btn_menu_hover {
    display: none;
}
.paragraphe1, .paragraphe2 {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.btn_menu_intitule {
    width: 60%;
}
.btn_menu {
    opacity: 0;
    animation: introMenu 4s forwards;
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
        animation-delay: 1000ms * $i;
        }
    }
}
@keyframes introMenu {
    0% {
    transform: translateY(30%);
    }
    100% {
    transform: translateY(0%);
    opacity: 1;
    }
}