@media screen and (min-width:768px){
    p{
        font-size:18px;
    }
    h1 {
        font-size:28px;
    }
    h2 {
        font-size:24px;
    }
    .policelogo {
        font-size:46px;
    }
    .container_fonctionnement_list {
        @include flexrow;
        flex-wrap: wrap;
    }
    .container_restaurants_list {
        @include flexrow;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container_restaurants_overview {
        margin: 20px;
        }
    .btn_fonctionnement {
        margin-right: 30px;
        margin-left: 30px;
        width: 300px;
    }

    .footer {
        @include flexrow;
        justify-content: space-around;
    }
    .container_footer {
        padding-left: 0px;
    }

    .policelogo_footer {
        text-align: center;
        font-size: 28px;
    }
}
    
