$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-text1: #000;
$color-text2: #494949;
$color-text3: #fff;
$color-background: #ebebeb;
$color-background2: #353535;
$gradient : linear-gradient(to bottom, #9356DC, #FF79DA);
$gradient2 : linear-gradient(to bottom, #FF79DA, #9356DC);